getPath.json
[
    {
        "id": "c358f29130f1883a",
        "type": "tab",
        "label": "Page",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d4b3531.391338",
        "type": "inject",
        "z": "c358f29130f1883a",
        "name": "",
        "props": [
            {
                "p": "filename",
                "v": "D:\\103-Counter\\plan.xlsx",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "52c8b61e0b2a4cac",
                "f96af91fd885a0a6"
            ]
        ]
    },
    {
        "id": "1ef482ff.54be1d",
        "type": "file in",
        "z": "c358f29130f1883a",
        "name": "read a spreadsheet file",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "allProps": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "58da0822.79c4a8"
            ]
        ]
    },
    {
        "id": "58da0822.79c4a8",
        "type": "book",
        "z": "c358f29130f1883a",
        "name": "",
        "raw": false,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "8bd99783.125c38",
                "ed8b8fb2.0d17c"
            ]
        ]
    },
    {
        "id": "ed8b8fb2.0d17c",
        "type": "sheet",
        "z": "c358f29130f1883a",
        "name": "",
        "sheetName": "Sheet1",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "9c0ed110.bc235",
                "fe9e8ba9.f59db8"
            ]
        ]
    },
    {
        "id": "9c0ed110.bc235",
        "type": "sheet-to-json",
        "z": "c358f29130f1883a",
        "name": "",
        "raw": "false",
        "range": "A1:H87",
        "header": "A",
        "blankrows": false,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "4c28547e.6d566c",
                "092b3ba2aa741ea6"
            ]
        ]
    },
    {
        "id": "8bd99783.125c38",
        "type": "debug",
        "z": "c358f29130f1883a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload.SheetNames",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "4c28547e.6d566c",
        "type": "debug",
        "z": "c358f29130f1883a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "fe9e8ba9.f59db8",
        "type": "debug",
        "z": "c358f29130f1883a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "52c8b61e0b2a4cac",
        "type": "function",
        "z": "c358f29130f1883a",
        "name": "set variable",
        "func": "flow.set(\"loopCount\",1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "44f8a68fc44fd113",
        "type": "inject",
        "z": "c358f29130f1883a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "52c8b61e0b2a4cac"
            ]
        ]
    },
    {
        "id": "ce7e251fefae5b03",
        "type": "function",
        "z": "c358f29130f1883a",
        "name": "check data",
        "func": "/*\n\"A\":\"Machine Type\"\n\"B\":\"Machine no.\"\n\"C\":\"Item\"\n\"D\":\"Std. time\"\n\"E\":\"Cycle Time\"\n\"F\":\"Allowance Time\"\n\"G\":\"Plan(Target Day)\"\n\"H\":\"Plan(Target night)\"\n*/\nlet readArray = flow.get(\"data\");\n//-----------------Header Json------------------//\n// let machineType = readArray[0].A\n// let machineNo = readArray[0].B\n// let item_ = readArray[0].C\n// let stdTime = readArray[0].D\n// let cycleTime = readArray[0].E\n// let AllowTime = readArray[0].F\n// let planDay = readArray[0].G\n// let planNight = readArray[0].H\n//----------------------------------------------//\n// node.warn(readArray.length)\nlet i = flow.get(\"loopCount\");\n// node.warn(i)\nlet mcName = readArray[i].B;\nlet item = readArray[i].C;\n// node.warn(item.length);\nif(mcName != undefined || typeof item != 'undefined'){\n    // node.warn(mcName)\n    // node.warn(item)\n    // node.warn(mcName.length)\n    node.warn(item.length)\n    if(i < readArray.length+1 || mcName.length == 0 || item != undefined){\n        let iCount = i+1;  \n        flow.set(\"loopCount\",iCount)\n        \n        msg.payload = {\n            \"Machine Type\" : readArray[i].A,\n            \"Machine no.\" : readArray[i].B,\n            \"Item\" : readArray[i].C,\n            \"Std. time\" : readArray[i].D,\n            \"Cycle Time\" : readArray[i].E,\n            \"Allowance Time\" : readArray[i].F,\n            \"Plan(Target Day)\" : readArray[i].G,\n            \"Plan(Target night)\" : readArray[i].H,\n        };\n        return [ msg, null ];\n    }else{\n        flow.set(\"loopCount\",1)\n        msg.payload = readArray\n        return [ null, msg ];\n    }\n}else{\n    node.warn(\"Finish\")\n    msg.payload = readArray\n    return [ null, msg ];\n}\n// if (msg.topic === \"banana\") {\n//   return [ msg, null ];\n// } else {\n//   return [ null, msg ];\n// }",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 520,
        "wires": [
            [
                "2b22d886f659c34c",
                "21e1aaa5409f4a53",
                "140d3cc8c023367d"
            ],
            [
                "d4687566759acb32",
                "e35629eb6ebfaeb1"
            ]
        ]
    },
    {
        "id": "2b22d886f659c34c",
        "type": "debug",
        "z": "c358f29130f1883a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 500,
        "wires": []
    },
    {
        "id": "d4687566759acb32",
        "type": "debug",
        "z": "c358f29130f1883a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 680,
        "wires": []
    },
    {
        "id": "e35629eb6ebfaeb1",
        "type": "function",
        "z": "c358f29130f1883a",
        "name": "reset iCount",
        "func": "flow.set(\"loopCount\",1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "092b3ba2aa741ea6",
        "type": "function",
        "z": "c358f29130f1883a",
        "name": "set Data",
        "func": "let data = msg.payload\n\nflow.set(\"data\", data)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "ce7e251fefae5b03"
            ]
        ]
    },
    {
        "id": "21e1aaa5409f4a53",
        "type": "delay",
        "z": "c358f29130f1883a",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 290,
        "y": 580,
        "wires": [
            [
                "ce7e251fefae5b03"
            ]
        ]
    },
    {
        "id": "05587588d729c1b6",
        "type": "catch",
        "z": "c358f29130f1883a",
        "name": "",
        "scope": [
            "ce7e251fefae5b03"
        ],
        "uncaught": false,
        "x": 270,
        "y": 620,
        "wires": [
            [
                "e35629eb6ebfaeb1"
            ]
        ]
    },
    {
        "id": "4bfb86fa24dbd3d5",
        "type": "http request",
        "z": "c358f29130f1883a",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 560,
        "wires": [
            [
                "1eac0b8e6cf65bd3"
            ]
        ]
    },
    {
        "id": "140d3cc8c023367d",
        "type": "function",
        "z": "c358f29130f1883a",
        "name": "http",
        "func": "let payloadData = msg.payload\nmsg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://localhost:81/agcpos/crud/fn-machine.php?mode=update_machineTargetbyAPI\" ;\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\nmsg.payload = payloadData\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 560,
        "wires": [
            [
                "dfb44d848cad0beb",
                "d55ae857788e160c"
            ]
        ]
    },
    {
        "id": "dfb44d848cad0beb",
        "type": "debug",
        "z": "c358f29130f1883a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 620,
        "wires": []
    },
    {
        "id": "d55ae857788e160c",
        "type": "debug",
        "z": "c358f29130f1883a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 659,
        "y": 656,
        "wires": []
    },
    {
        "id": "f96af91fd885a0a6",
        "type": "delay",
        "z": "c358f29130f1883a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "1ef482ff.54be1d"
            ]
        ]
    },
    {
        "id": "1eac0b8e6cf65bd3",
        "type": "switch",
        "z": "c358f29130f1883a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 520,
        "wires": [
            [
                "7c8aad912db7084f"
            ],
            [
                "a26ce193191f27e6"
            ]
        ]
    },
    {
        "id": "a26ce193191f27e6",
        "type": "link out",
        "z": "c358f29130f1883a",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "53f3c5fbe663ab2e"
        ],
        "x": 985,
        "y": 560,
        "wires": []
    },
    {
        "id": "53f3c5fbe663ab2e",
        "type": "link in",
        "z": "c358f29130f1883a",
        "name": "postError",
        "links": [
            "a26ce193191f27e6"
        ],
        "x": 105,
        "y": 280,
        "wires": [
            [
                "f96af91fd885a0a6"
            ]
        ]
    },
    {
        "id": "7c8aad912db7084f",
        "type": "debug",
        "z": "c358f29130f1883a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 480,
        "wires": []
    },
    {
        "id": "cfb32b8035327d02",
        "type": "function",
        "z": "c358f29130f1883a",
        "name": "get path excel",
        "func": "let urlgetpart = \"http://172.18.209.87/api/getPath.php?mode=getTarget\"\n\nmsg.url = urlgetpart\nmsg.payload = urlgetpart\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 60,
        "wires": [
            [
                "a8e9aedd6717745e"
            ]
        ]
    },
    {
        "id": "d362188cd7cf0c0e",
        "type": "inject",
        "z": "c358f29130f1883a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "cfb32b8035327d02"
            ]
        ]
    },
    {
        "id": "a8e9aedd6717745e",
        "type": "http request",
        "z": "c358f29130f1883a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 60,
        "wires": [
            [
                "0286976b3e869bd7"
            ]
        ]
    },
    {
        "id": "0286976b3e869bd7",
        "type": "json",
        "z": "c358f29130f1883a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 60,
        "wires": [
            [
                "bf35953c9b30cf94"
            ]
        ]
    },
    {
        "id": "bf35953c9b30cf94",
        "type": "debug",
        "z": "c358f29130f1883a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 60,
        "wires": []
    }
]